/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*above is all from list provided online 
below is all what I provided*/

body {
	font: .75em Arial;
}

#contentwrapper {
	overflow: hidden;
	margin: 0 auto;
	max-width: 750px;
}

h1 {
	font: 5em 'LeagueGothicRegular', Arial, sans-serif;
	text-transform:uppercase;
	margin: 0;
	display: block;
	float: left;
}

header nav {
	float: right;
}

header nav ul {
	margin: 0;
	
}

header nav li {
	display: inline; 
	font-weight: bold;
}

header {
	border-bottom: solid;
	margin-bottom: 2%;
}

.clear { 
	clear: both;
}

a {
	text-decoration: none;
	color: black;
}


section {
	width: 66%;
	float: right;
}
aside {
	float: left;
	line-height: 150%;
	width: 25%;
	padding-right: 8%;
}
aside ol {
	padding: 0;
	margin: 0;
}
aside nav li {
	display: block;
	list-style: none;
	font-weight: bold;
}
article {
	margin:0;
	border: none;
	width: 100%;
	float:left;
	vertical-align: top;
}

footer {
	clear:both;
}


 h2 {
	font: 1.625em 'LeagueGothicRegular', Arial, sans-serif;
	text-transform:uppercase;
	margin:0;
}

 h3 {
	font: 1.125em 'LeagueGothicRegular', Arial, sans-serif;
	text-transform:uppercase;
	margin:0;
}


footer {
	border-top: solid;
}